<div class="regi">

  <%= form_with model: @user, local: true do |f| %>

    <h1>ユーザー編集</h1>

    <%= f.text_field :nickname, placeholder:"ニックネーム * ", id:"user_name" %>

    <%= f.text_area :profile, placeholder:"プロフィール", id:"post_summary" %>

    <button>To edit</button>

  <% end %>
</div>