<div class="log">
        <%= form_with model: @user, url: user_session_path, local: true do |f| %>

          <h1>ログイン</h1>

          <%= f.email_field :email, placeholder:"メールアドレス", id:"user_email", autofocus: true, autocomplete: "email" %>

          <%= f.password_field :password, placeholder:"パスワード", id:"user_password", autocomplete: "current-password" %>

          <button>Login</button>

      <% end %>
</div>