  <div class="amp">
  <h1 class="head-border">Amp</h1>
  <ul class="card-list">
    <% @posts.each do |post| %>
    <li class="card">
      <%= link_to image_tag(post.image, class:"google-btn"), post_path(post.id) %>
        <p class="inst_title"><%= post.title %></p>
        </li>
    <% end %>
  </div>