<p id="slideshow">
   <img src="/assets/main1.jpg" alt="画像1" class="active">
   <img src="/assets/main2.jpg" alt="画像2">
   <img src="/assets/main3.jpg" alt="画像3">
   <img src="/assets/main4.jpg" alt="画像4">
   <img src="/assets/main5.jpg" alt="画像5">
   <img src="/assets/main6.jpg" alt="画像5">
   <img src="/assets/main7.jpg" alt="画像5">
   <p class="aiu">Welcome to MyGear.</p>
   <p class="iu">MyGear へようこそ</p>
   <p class="eo">さっそく楽器の写真を共有しましょう !</p>
</p>
  <div class="block1"></div>
  <div class="block2">
  <%= image_tag("YouTube-logo.png", class:"youtube-logo") %>
  <h1 class="youtube-h">This week's Musician</h1>
  <iframe class="youtube" width="900" height="515" src="https://www.youtube.com/embed/eJ-FOKIFGKw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="block3"></div>
  <div class="slide-one">
    <div class="mb-600">
        <li class="fadein">
      <%= image_tag("slide.png", class:"google-btn") %>
        <p class="inst_title">#新しく買いました！</p>
        </li>
                <p id="slide1" class="fadein">投稿の方法</p>
        <p id="slide2" class="fadein">右下の ' 投稿する ' を押してタイトル、<br>詳細、写真、カテゴリー(必須)を記入して<br>投稿します。</p>
    </div>
  </div>

  <script>
  $(function () {
    $(window).scroll(function () {
      $('.fadein').each(function () {
        var targetElement = $(this).offset().top;
        var scroll = $(window).scrollTop();
        var windowHeight = $(window).height();
        if (scroll > targetElement - windowHeight + 150) {
            $(this).addClass('scrollin');
        }
      });
    });
  });
  </script>

  <div class="twosheet">
  <h1 class="head-border">Instruments</h1>
  <ul class="card-list">
    <% @posts.each do |post| %>
    <li class="card">
      <%= link_to image_tag(post.image, class:"google-btn"), post_path(post.id) %>
        <p class="inst_title">#<%= post.title %></p>
        </li>
    <% end %>
  </ul>
  </div>
  
  
<p class="pagetop" style="display: block;">
<a href="#">
<i class="fas fa-arrow-up"></i>
</a>
</p>

<p class="postpage" style="display: block;">
<a href="/posts/new">
<i class="fas fa-guitar"><span class="postin">投稿する</span></i>
</a>
</p>


