

  <div class="onesheet">
  </div>
  <div class="block1"></div>
  <div class="block2">
  <%= image_tag("YouTube-logo.png", class:"youtube-logo") %>
  <h1 class="youtube-h">This week's Musician</h1>
  <iframe class="youtube" width="900" height="515" src="https://www.youtube.com/embed/WOY6nwXNteU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="block3"></div>
  <div class="slide-one"></div>
  <div class="twosheet">
  <h1 class="head-border">Instruments</h1>
  <ul class="card-list">
    <% @posts.each do |post| %>
    <li class="card">
      <%= link_to image_tag(post.image, class:"google-btn"), post_path(post.id) %>
        <p class="inst-title">#<%= post.title %></p>
        </li>
    <% end %>
  </div>
  
  
<p class="pagetop" style="display: block;">
<a href="#">
<i class="fas fa-arrow-up"></i>
</a>
</p>

<p class="postpage" style="display: block;">
<a href="/posts/new">
<i class="fas fa-guitar"><span class="postin">投稿する</span></i>
</a>
</p>


