  <!doctype html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/f30c31a4d9.js" crossorigin="anonymous"></script>
  </head>
 
  <body>
  <div class="onesheet"></div>
  <div class="twosheet">
    <% @posts.each do |post| %>
    <%= link_to image_tag(post.image, class:"google-btn"), "#" %>
      <p><%= post.title %></p>
      <span class="name">
        <%= post.summary %>
      </span>
    </div>
  <% end %>
  </div>
  </body>
</html>
  
<p class="pagetop" style="display: block;">
<a href="#">
<i class="fas fa-arrow-up"></i>
</a>
</p>

<p class="postpage" style="display: block;">
<a href="/posts/new">
<i class="fas fa-guitar"><span class="postin">投稿する</span></i>
</a>
</p>


