/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color: black;
  height: 100px;
  display: flex;
}

.searchbar {
  width: 33vw;
}

.heading {
  width: 34vw;
}

.title {
  margin: 25px 170px;
  color: #ffffff;
  font-size: 35px;
}

.navbar {
  width: 33vw;
}

.nav-lists {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  font-size: large;
  margin: 60px 70px 0px 70px;
}

li {
  list-style: none;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: white;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: white;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: white;
}

.sign-up {
  text-decoration: none;
  color: white;
}

.guest {
  text-emphasis: none;
  color: white;
}


/* メイン画像上 */

.contents {

}

.first-view{
  height: 60vh;
}

.topimage {
  height: 85vh;
  width: 100%;
}

/* メイン画像下 */
.middle-content{
  height: 450px;
  background-color: black;
}

/* 投稿ボタン */
.fixed_btn{
  position: fixed;
  bottom: 20px; 
  right: 20px;
  padding: 5px 3px;
}

/* ページTOPに戻る */
.pagetop{
  display: none;
  position: fixed;
  right: 50px;
  bottom: 200px;
}
.pagetop a{
  display: block;
  font-size: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  background: orange;
  border-radius: 50%;
  line-height: 50px;
}
.pagetop a i{
  font-size: 20px;
  color: white;
  line-height: 50px;
}

.postpage{
  display: none;
  position: fixed;
  right: 26px;
  bottom: 60px;
}
.postpage a{
  display: block;
  font-size: 0;
  width: 100px;
  height: 100px;
  text-align: center;
  background: rgb(253, 184, 253);
  border-radius: 50%;
  line-height: 50px;
}
.postpage a i{
  margin-left: 3px;
  font-size: 42px;
  color: white;
  line-height: 70px;
}

.postin {
  font-size: 16px;
  line-height: 3px;
  display: block;
  text-decoration: none;
  margin-bottom: 5px;
  font-family: 'ヒラギノ角ゴ Std W8','Hiragino Kaku Gothic Std';
}