/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');

/* ヘッダー */

.header {
  position: fixed;
  background-color: black;
  margin: 0;
  padding: 0px 200.5px 0px 200.5px;
  height: 88px;
  width: 100%;
  opacity: 0.9;
  z-index: 1;
}


.menuButton {
  display: block;
  height: 80px;
  width: 80px;
  position: fixed;
  top: 7px;
  left: 60px;
  z-index: 3;
}

.menuButton div {
  height: 3px;
  width: 40%;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
}


.menuButton div:nth-of-type(1) {
  transform: translate(-50%, -10px);
  transform-origin: 0% 50%;
}

.menuButton div:nth-of-type(3) {
  transform: translate(-50%, 8px);
  transform-origin: 0% 50%;
}

.menuButton.active div:nth-of-type(1) {
  transform: rotate(45deg) translate(-50%, 0);
  background: black;
  left: 0;
}

.menuButton.active div:nth-of-type(2) {
  opacity: 0;
}

.menuButton.active div:nth-of-type(3) {
  transform: rotate(-45deg) translate(-50%, 0);
  background: black;
  left: 0;
}

nav {
  opacity: 0;
  visibility: hidden;
  transition: .5s;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  font-size: 30px;
  width: 300px;
  height: 100vh;
  max-height: 100vh;
  padding: 200px 0 200px;
  z-index: 2;
  overflow: auto;
}


nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

nav ul li:not(:first-of-type) {
  margin-top: 20px;
}

nav.active {
  opacity: 1;
  visibility: visible;
}

.inner {
  width: 1224px;
  margin: 0 auto;
}
.nav {
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav__left {
  margin-top: 0px;
}

.logo {
  width: 260px;
  height: 85px;
  margin-right: 10px;
}

.nav__center {
  width: 210px;
}

.nav__right {
  width: 750px;
  margin-left: 50px;
}

.search-form{
  position:relative;/*フォームの相対位置*/	
  max-width:270px;/*フォームのサイズ*/
  margin-top: 19px;
  margin-left: 50px;
}

.search-input {
  position:absolute;/*フォームの絶対位置*/	
  left:0;
  top:0; 	
  outline:0;/*クリック時の青い枠線消す*/	
  height:30px;/*検索ボックスの高さ*/	
  width: 140px;
  padding:0 10px;/*テキスト位置調整*/	 
  border-radius:12px 0 0 12px;/*検索ボックスの角を丸める*/		
  background:#eee;/*検索ボックスの背景カラー*/
}

.search-btn {
  width:50px;/*検索ボタンの横幅*/ 
  height:30px;/*検索ボタンの縦幅*/ 
  position:absolute;/*検索ボタンの絶対位置*/  
  left:140px;/*検索ボタンの位置調整*/  
  top:0;
  border-radius:0 12px 12px 0;/*検索ボタンの角を丸める*/ 
  background:rgb(87, 213, 255);/*検索ボタンの背景カラー*/ 
  border:none;/*検索ボタンの枠線を消す*/ 
  color:#fff;/*検索ボタンのテキストカラー*/ 
  font-weight:bold;/*検索ボタンのテキスト太字*/ 
  font-size:16px;/*検索ボタンのフォントサイズ*/ 
  padding-top: 3px;
}

.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  user-select: none;
  border: none;
  border-radius: 3px;
  transition: 0.4s ease;
  font-family: 'Jost', sans-serif;
  margin-top: 20px;
}
.nav__btn:hover{
  color: rgb(255, 245, 112);
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}


/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

hr {
  margin-bottom: 0px;
  margin-top: -5px;
  width: 100%;
  height: 3px;
  background: radial-gradient(white,black 80%);
  border: 0;
}

/* メイン画像 */
.onesheet {
  background-image: url(topguitar.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
  padding-bottom: 789px;
}

.block1::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 10vw solid black;  /* 三角をグレーにする */ 
  border-left: 100vw solid transparent;
}

.block3 { 
  padding-bottom: calc(10vw + 10px);  
    position: relative;
    overflow: hidden;
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #b6fbff, #8eaddd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.block3::before {
  height: 10px;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 10vw solid rgb(0, 0, 0);  /* 三角を白にする */ 
  border-right: 100vw solid transparent;
}


.block2 {
  padding-top: 70px;
  height: 850px;
  background-color: black;
}

.youtube-logo {
  height: 70px;
  margin-right: 1170px;
}


.youtube-h {
  width: 1000px;
  display: flex;
  margin-left: 0;
  align-items: center;
  border-bottom: none;
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
}

.youtube-h:before,
.youtube-h:after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: white;
}

.youtube-h:before {
  margin-right: 1.5rem;
}

.youtube-h:after {
  margin-left: 1.5rem;
}

.youtube {
  margin-top: 10px;
  border-radius: 10px;
}
 
.slide-one {
  height: 500px;
  background: #83a4d4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #b6fbff, #8eaddd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.twosheet {
  width: 100%;
  height: 1500px;
  padding-top: 103px;
  background: #83a4d4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #b6fbff, #8eaddd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.head-border {
  display: flex;
  align-items: center;
  border-bottom: none;
  color: #fff;
}

.head-border:before,
.head-border:after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: rgb(255, 255, 255);
}

.head-border:before {
  margin-right: 1.5rem;
}

.head-border:after {
  margin-left: 1.5rem;
}

/* Lazy Load Styles */
.card-image {
  display: block;
  min-height: 20rem; /* layout hack */
  background: #fff center center no-repeat;
  background-size: cover;
  filter: blur(3px); /* blur the lowres image */
}

.card-image > img {
  display: block;
  width: 100%;
  opacity: 0; /* visually hide the img element */
}

.card-image.is-loaded {
  filter: none; /* remove the blur on fullres image */
  transition: filter 1s;
}




/* Layout Styles */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
}

.card-list {
  display: block;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  text-align: center;
  list-style: none;
}

.card {
  display: inline-block;
  background-color: white;
  border-radius: 10px;
  width: 90%;
  max-width: 20rem;
  margin: 1rem;
  font-size: 1rem;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0 0 1.2rem -0.2rem rgba(0,0,0,0.5);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
  transform: translateY(-0.5rem) scale(1.0125);
  box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
  display: block;
  padding: 1em 0.5em;
  color: #515151;
  text-decoration: none;
}

.card-description > h2 {
  margin: 0 0 0.5em;
}

.card-description > p {
  margin: 0;
}

.inst-title {
  margin-right: 200px;
  height: 32px;
  color: gray;
  font-size: large;
  font-weight: 900;
  font-family: 'Hannotate SC', sans-serif;

}

/* 投稿ボタン */
.fixed_btn{
  position: fixed;
  bottom: 20px; 
  right: 20px;
  padding: 5px 3px;
}

/* ページTOPに戻る */
.pagetop{
  display: none;
  position: fixed;
  right: 50px;
  bottom: 200px;
  transition: .2s;
}

.pagetop:hover {
  transform: scale(1.1);
}

.pagetop a{
  display: block;
  font-size: 0;
  width: 50px;
  height: 50px;
  background-color: #0fffff;
  text-align: center;
  border-radius: 50%;
  line-height: 50px;
}
.pagetop a i{
  font-size: 20px;
  color: white;
  line-height: 50px;
}

.postpage{
  display: none;
  position: fixed;
  right: 26px;
  bottom: 60px;
  transition: .2s;
}

.postpage:hover {
  transform: scale(1.1);
}

.postpage a{
  display: block;
  font-size: 0;
  width: 100px;
  height: 100px;
  text-align: center;
  background: deepskyblue;
  border-radius: 50%;
  line-height: 50px;
}
.postpage a i{
  margin-left: 3px;
  font-size: 42px;
  color: white;
  line-height: 70px;
}

.postin {
  font-size: 16px;
  line-height: 3px;
  display: block;
  text-decoration: none;
  margin-bottom: 5px;
  font-family: 'ヒラギノ角ゴ Std W8','Hiragino Kaku Gothic Std';
}

.regi {
    background-image: url(regi.jpg);
    height: 789px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.log {
  background-image: url(login.jpg);
  height: 789px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.footer {
  color: #fff;
  height: 50px;
  width: 100%;
  background-color: black;
  opacity: 0.9;
}